.pagination {
    width: 100%;
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.description {
    position: relative;
    top: 60%;
}

.page-counts {
    margin-right: 6 * 2;
}

.numbers {
    display: block;
    text-align: center;
    flex: 1;
}

button {
    flex: 0 0 auto;
    outline: none;
    border: 0;
    padding: 0 (6 / 2);
    background: transparent;
    cursor: pointer;
}